/* selector {
    properties : values;
} */

/* h1 {
    color: skyblue
} */

/* p {
    font-size: 30px;
} */

/* {
    padding: 0;
    margin: 0;
} */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    color: white;
    width: 900px;
    margin: auto;
    background-color: seagreen;
    padding: 15px;
}

.menu {
    color: white;
    width: 900px;
    margin: auto;
    background-color: darkturquoise;
    padding: 15px;
    font-family: sans-serif;
}

.article {
    color: black;
    width: 900px;
    margin: auto;
    background-color: skyblue;
    padding: 15px;
}

.article img {
    width: 500px;
}

.footer {
    color: white;
    width: 900px;
    margin: auto;
    background-color: seagreen;
    padding: 15px;
    font-style: oblique;
}